body{
   text-align: center;
}
button{
   height: 200px;
   width: 200px;
   margin: 10px;
   border-radius: 10px;
}
.red{
   background-color:red;
}
.green{
   background-color: green;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}